{# Module styles #}

<style>
{% scope_css %}

  /* Columns */

  .image-gallery__wrapper {
    {{ module.styles.gallery.spacing.spacing.css }}
  }

  {% if module.styles.images.alignment.alignment.vertical_align == 'TOP' && module.gallery_options.fixed_image_height == false %}
    .image-gallery__image-container {
      align-items: flex-start;
    }
  {% elif module.styles.images.alignment.alignment.vertical_align == 'BOTTOM' && module.gallery_options.fixed_image_height == false %}
    .image-gallery__image-container {
      align-items: flex-end;
    }
  {% endif %}

  {% if module.gallery_options.fixed_image_height == true %}
    .image-gallery__image-container {
      align-items: initial;
      display: block;
    }
  {% endif %}

  @media (min-width: 767px) {
    .image-gallery__image-container {
      width: {{ 100 / module.gallery_options.columns ~ '%' }};
    }
  }

  /* Uses object fit if gallery images are set to a fixed image height */

  {% if module.gallery_options.fixed_image_height %}

    .image-gallery__image-wrapper {
      height: {{ module.gallery_options.image_height ~ 'px' }};
    }

    .image-gallery__image {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .image-gallery__image-wrapper,
      .image-gallery__image {
        height: auto;
      }
    }

  {% endif %}

  /* Images */

  .image-gallery__image {
    {% if module.styles.images.corner.radius %}
      border-radius: {{ module.styles.images.corner.radius ~ 'px' }};
    {% endif %}
    {% if module.styles.gallery.spacing.space_between_images %}
      padding: {{ module.styles.gallery.spacing.space_between_images ~ 'px' }};
    {% endif %}
  }

  /* Lightbox */

  {% if module.gallery_options.enable_lightbox %}

    {% if module.styles.lightboxes.bg_color %}
      .image-gallery__lightbox--open {
        background-color: rgba({{ module.styles.lightboxes.bg_color.color|convert_rgb }}, {{ module.styles.lightboxes.bg_color.opacity / 100 }});
      }
    {% endif %}

    .image-gallery__close-button-icon {
      {% if module.styles.lightboxes.close_icon.background.color.color %}
        background-color: rgba({{ module.styles.lightboxes.close_icon.background.color.color|convert_rgb }}, {{ module.styles.lightboxes.close_icon.background.color.opacity / 100 }});
      {% endif %}
      {% if module.styles.lightboxes.close_icon.corner.radius %}
        border-radius: {{ module.styles.lightboxes.close_icon.corner.radius ~ 'px' }};
      {% endif %}
      {{ module.styles.lightboxes.close_icon.spacing.spacing.css }}
    }

    .image-gallery__close-button-icon svg {
      {% if module.styles.lightboxes.close_icon.fill.color.color %}
        fill: {{ module.styles.lightboxes.close_icon.fill.color.color }};
      {% endif %}
      {% if module.styles.lightboxes.close_icon.size.size %}
        height: {{ module.styles.lightboxes.close_icon.size.size ~ 'px' }};
        width: {{ module.styles.lightboxes.close_icon.size.size ~ 'px' }};
      {% endif %}
    }

    {% if module.styles.lightboxes.close_icon.background.color.color %}
      .image-gallery__close-button-icon:hover,
      .image-gallery__close-button-icon:focus {
          background-color: rgba({{ color_variant(module.styles.lightboxes.close_icon.background.color.color, -80)|convert_rgb }}, {{ module.styles.lightboxes.close_icon.background.color.opacity / 100 }});
      }
    {% endif %}

  {% if module.styles.lightboxes.close_icon.background.color.color %}
    .image-gallery__close-button-icon:active {
        background-color: rgba({{ color_variant(module.styles.lightboxes.close_icon.background.color.color, 80)|convert_rgb }}, {{ module.styles.lightboxes.close_icon.background.color.opacity / 100 }});
      }
    {% endif %}

    .image-gallery__caption p {
      {% if module.styles.lightboxes.text.font.color %}
        color: {{ module.styles.lightboxes.text.font.color }};
      {% endif %}
      {% if module.styles.lightboxes.text.font.size %}
        font-size: {{ module.styles.lightboxes.text.font.size ~ module.styles.lightboxes.text.font.size_unit }};
      {% endif %}
      {% if module.styles.lightboxes.text.font.style %}
        {{ module.styles.lightboxes.text.font.style }};
      {% endif %}
    }

  {% endif %}

{% end_scope_css %}
</style>

{# Sets CSS classes based on style field options #}

{% if module.styles.lightboxlightbox.close_icon.presets.icon_size == 'small' %}
  {% set icon_size = 'icon--small' %}
{% elif module.styles.lightboxlightbox.close_icon.presets.icon_size == 'large' %}
  {% set icon_size = 'icon--large' %}
{% endif %}

{% if module.styles.lightboxlightbox.close_icon.presets.icon_color == 'light' %}
  {% set icon_color = 'icon--light' %}
{% endif %}

{% if module.styles.lightboxlightbox.close_icon.presets.icon_shape == 'square' %}
  {% set icon_shape = 'icon--square' %}
{% endif %}

{# Image gallery #}

<div id="image-gallery--{{ name }}" class="image-gallery {% if module.gallery_options.enable_lightbox %}image-gallery--lightbox-enabled{% endif %}">

  {# Images #}

  <div class="image-gallery__wrapper">
    {% for image in module.images %}
      {% if image.image.src %}
        <div class="image-gallery__image-container">
          {% if module.gallery_options.enable_lightbox %}
            <button class="image-gallery__button no-button" data-lightbox-to-open="image-gallery__lightbox--{{ name }}--{{ loop.index }}"
            aria-label="Open lightbox for {{ image.image.alt }}"
            >
          {% endif %}
          {% if module.gallery_options.fixed_image_height %}
            <div class="image-gallery__image-wrapper">
          {% endif %}
            <img class="image-gallery__image" src="{{ image.image.src }}" alt="{{ image.image.alt }}" loading="lazy">
          {% if module.gallery_options.fixed_image_height %}
            </div>
          {% endif %}
          {% if module.gallery_options.enable_lightbox %}
            </button>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {# Includes image lightbox, if lightboxes are enabled #}

  {% if module.gallery_options.enable_lightbox %}
    {% for image in module.images %}
      <div class="image-gallery__lightbox" id="image-gallery__lightbox--{{ name }}--{{ loop.index }}">
        <button class="image-gallery__close-button no-button" aria-label="Close out of lightbox">
          <span class="{{ icon_size }} {{ icon_color }} {{ icon_shape }}">
            {% icon
              extra_classes='image-gallery__close-button-icon icon'
              name='times',
              purpose='semantic',
              style='SOLID',
              title='Close button'
              unicode='f00d',
            %}
          </span>
        </button>
        <figure class="image-gallery__lightbox-content">
          <img class="image-gallery__lightbox-image" src="{{ image.image.src }}" loading="lazy" alt="{{ image.image.alt }}">
          {% if image.caption %}
            <figcaption class="image-gallery__caption"><p>{{ image.caption }}</p></figcaption>
          {% endif %}
        </figure>
      </div>
    {% endfor %}
  {% endif %}

</div>