{# Module styles #}

<style>
{% scope_css %}

  /* Testimonial */

  .testimonial {
    {% if module.styles.testimonial.background.color %}
      background-color: rgba({{ module.styles.testimonial.background.color.color|convert_rgb }}, {{ module.styles.testimonial.background.color.opacity / 100 }});
    {% endif %}
    {{ module.styles.testimonial.border.border.css }}
    {% if module.styles.testimonial.corner.radius %}
      border-radius: {{ module.styles.testimonial.corner.radius ~ 'px' }};
    {% endif %}
    {{ module.styles.testimonial.spacing.spacing.css }}
  }

  /* Testimonial content */

  {% if module.styles.quote.alignment.alignment.text_align  %}
    .testimonial__content {
      text-align: {{ module.styles.quote.alignment.alignment.text_align }};
    }
  {% endif %}

  /* Testimonial footer */

  {% if module.show_author %}

    {% if module.styles.author.alignment.alignment.text_align %}
      .testimonial__footer {
        {% if module.styles.author.alignment.alignment.text_align == 'CENTER' %}
          justify-content: center;
        {% elif module.styles.author.alignment.alignment.text_align == 'RIGHT' %}
          justify-content: flex-end;
        {% endif %}
      }
    {% endif %}

  {% endif %}

  /* Testimonial author image */

  {% if module.author.include_image && module.styles.author.image.corner.radius %}
    .testimonial__author-image {
      border-radius: {{ module.styles.author.image.corner.radius ~ 'px' }}
    }
  {% endif %}

{% end_scope_css %}
</style>

{# Sets CSS classes based on style field options #}

{% if module.styles.testimonial.presets.card_style == 'dark' %}
  {% set card_style = 'card--dark' %}
{% elif module.styles.testimonial.presets.card_style == 'light' %}
  {% set card_style = 'card--light' %}
{% endif %}

{# Testimonial #}

<blockquote class="testimonial card {{ card_style }}">

  {# Testimonial content #}

  <div class="testimonial__content">
    {{ module.quote_text }}
  </div>

  {# Testimonial author #}

  {% if module.show_author && module.author.content %}
    <footer class="testimonial__footer">

      {# Includes testimonial author image if enabled and image is selected #}

      {% if module.author.include_image && module.author.image.src %}

        {# Sets testimonial author image size attributes #}

        {% set sizeAttrs = 'width="{{ module.author.image.width }}" height="{{ module.author.image.height }}"' %}
        {% if module.author.image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif module.author.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.author.image.max_width }}" height="{{ module.author.image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}

        {# Sets testimonial author image loading attribute #}

        {% set loadingAttr = module.author.image.loading != 'disabled' ? 'loading="{{ module.author.image.loading }}"' : '' %}

        {# Testimonial author image #}

        <img class="testimonial__author-image" src="{{ module.author.image.src }}" alt="{{ module.author.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>

      {% endif %}

      {# Testimonial author content #}

      {% if module.author.content %}
        <div class="testimonial__author-content">
          {{ module.author.content }}
        </div>
      {% endif %}

    </footer>
  {% endif %}

</blockquote>