{# Module styles #}

<style>
{% scope_css %}

  /* Post */

  .blog-listing__post {
    {% if module.styles.post.background.color %}
      background-color: rgba({{ module.styles.post.background.color.color|convert_rgb }}, {{ module.styles.post.background.color.opacity / 100 }});
    {% endif %}
    {{ module.styles.post.border.border.css }}
    {% if module.styles.post.corner.radius %}
      border-radius: {{ module.styles.post.corner.radius ~ 'px' }};
    {% endif %}
    {{ module.styles.post.spacing.spacing.css }}
  }

  .blog-listing__post-content {
    {{ module.styles.post.spacing.post_content.css }}
  }

  /* Image */

  {% if module.featured_image && module.styles.featured_image.corner.radius %}
    .blog-listing__post-image {
      border-radius: {{ module.styles.featured_image.corner.radius ~ 'px' }};
    }
  {% endif %}

  /* Tags */

  {% if module.tags %}
    .blog-listing__post-tag {
      {% if module.styles.tags.text.font.color %}
        color: {{ module.styles.tags.text.font.color }};
      {% endif %}
      {% if module.styles.tags.text.font.size %}
        font-size: {{ module.styles.tags.text.font.size ~ module.styles.tags.text.font.size_unit }};
      {% endif %}
      {% if module.styles.tags.text.font.style %}
        {{ module.styles.tags.text.font.style }};
      {% endif %}
      {% if module.styles.tags.text.transform %}
        text-transform: {{ module.styles.tags.text.transform }};
      {% endif %}
    }
  {% endif %}

  /* Title */

  {% if module.title %}
    .blog-listing__post-title,
    .blog-listing__post-title-link {
      {% if module.styles.title.text.font.color %}
        color: {{ module.styles.title.text.font.color }};
      {% endif %}
      {% if module.styles.title.text.font.size %}
        font-size: {{ module.styles.title.text.font.size ~ module.styles.title.text.font.size_unit }};
      {% endif %}
      {% if module.styles.title.text.font.style %}
        {{ module.styles.title.text.font.style }};
      {% endif %}
      {% if module.styles.title.text.transform %}
        text-transform: {{ module.styles.title.text.transform }};
      {% endif %}
    }
  {% endif %}

  /* Author */

  {% if module.author %}

    {% if module.styles.author.image.corner.radius %}
      .blog-listing__post-author-image {
        border-radius: {{ module.styles.author.image.corner.radius ~ 'px' }};
      }
    {% endif %}

    .blog-listing__post-author-name {
      {% if module.styles.author.text.font.color %}
        color: {{ module.styles.author.text.font.color }};
      {% endif %}
      {% if module.styles.author.text.font.size %}
        font-size: {{ module.styles.author.text.font.size ~ module.styles.author.text.font.size_unit }};
      {% endif %}
      {% if module.styles.author.text.font.style %}
        {{ module.styles.author.text.font.style }};
      {% endif %}
    }

  {% endif %}

  /* Date */

  {% if module.date %}
    .blog-listing__post-timestamp {
      {% if module.styles.date.text.font.color %}
        color: {{ module.styles.date.text.font.color }};
      {% endif %}
      {% if module.styles.date.text.font.size %}
        font-size: {{ module.styles.date.text.font.size ~ module.styles.date.text.font.size_unit }};
      {% endif %}
      {% if module.styles.date.text.font.style %}
        {{ module.styles.date.text.font.style }};
      {% endif %}
    }
  {% endif %}

  /* Description */

  {% if module.description %}
    .blog-listing__post-summary,
    .blog-listing__post-summary * {
      {{ module.styles.description.text.font.css }}
    }
  {% endif %}

  /* Button */

  {% if module.button %}

    {% if module.styles.button.alignment.alignment %}
      .blog-listing__post-button-wrapper {
        text-align: {{ module.styles.button.alignment.alignment.horizontal_align }};
      }
    {% endif %}

    .button {
      {% if module.styles.button.background.color.color %}
        background-color: rgba({{ module.styles.button.background.color.color|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
      {% endif %}
      {{ module.styles.button.border.border.css }}
      {% if module.styles.button.corner.radius %}
        border-radius: {{ module.styles.button.corner.radius ~ 'px' }};
      {% endif %}
      {% if module.styles.button.text.font.color %}
        color: {{ module.styles.button.text.font.color }};
      {% endif %}
      {% if module.styles.button.text.font.size %}
        font-size: {{ module.styles.button.text.font.size ~ module.styles.button.text.font.size_unit }};
      {% endif %}
      {% if module.styles.button.text.font.style %}
        {{ module.styles.button.text.font.style }};
      {% endif %}
      {{ module.styles.button.spacing.spacing.css }}
      {% if module.styles.button.text.transform %}
        text-transform: {{ module.styles.button.text.transform }};
      {% endif %}
    }

    .button:hover,
    .button:focus {
      {% if module.styles.button.hover.background.color.color %}
        background-color: rgba({{ module.styles.button.hover.background.color.color|convert_rgb }}, {{ module.styles.button.hover.background.color.opacity / 100 }});
      {% endif %}
      {{ module.styles.button.hover.border.border.css }}
      {% if module.styles.button.hover.text.font.color %}
        color: {{ module.styles.button.hover.text.font.color }};
      {% endif %}
      {% if module.styles.button.text.font.size %}
        font-size: {{ module.styles.button.hover.text.font.size ~ module.styles.button.hover.text.font.size_unit }};
      {% endif %}
      {% if module.styles.button.hover.text.font.style %}
        {{ module.styles.button.hover.text.font.style }};
      {% endif %}
    }

    .button:active {
      {% if module.styles.button.hover.background.color.color %}
        background-color: rgba({{ color_variant(module.styles.button.hover.background.color.color, 80)|convert_rgb }}, {{ module.styles.button.hover.background.color.opacity / 100 }});
      {% endif %}
      {{ module.styles.button.hover.border.border.css }}
      {% if module.styles.hover.border.border.top.color %}
        border-color: {{ color_variant(module.styles.button.hover.border.border.top.color, 80) }};
      {% endif %}
      {% if module.styles.button.hover.text.font.color %}
        color: {{ module.styles.button.hover.text.font.color }};
      {% endif %}
      {% if module.styles.button.text.font.size %}
        font-size: {{ module.styles.button.hover.text.font.size ~ module.styles.button.hover.text.font.size_unit }};
      {% endif %}
      {% if module.styles.button.hover.text.font.style %}
        {{ module.styles.button.hover.text.font.style }};
      {% endif %}
    }

  {% endif %}

{% end_scope_css %}
</style>

{# Sets whether to use recent posts or recent tag posts HubL tag #}

{% if module.select_blog_type == 'recent_posts' %}
  {% set post_listing = blog_recent_posts(module.select_blog, module.number_of_posts) %}
{% else %}
  {% set post_listing = blog_recent_tag_posts(module.select_blog, module.select_tag, module.number_of_posts) %}
{% endif %}

{# Sets CSS classes based on style options #}

{% if module.styles.button.presets.button_type == 'secondary' %}
  {% set button_style = 'button--secondary' %}
{% elif module.styles.button.presets.button_type == 'simple' %}
  {% set button_style = 'button--simple' %}
{% endif %}

{% if module.styles.button.presets.button_size == 'small' %}
  {% set button_size = 'button--small' %}
{% elif module.styles.button.presets.button_size == 'large' %}
  {% set button_size = 'button--large' %}
{% endif %}

{% if module.styles.post.presets.card_style == 'dark' %}
  {% set card_style = 'card--dark' %}
{% elif module.styles.post.presets.card_style == 'light' %}
  {% set card_style = 'card--light' %}
{% endif %}

{# Blog listing #}

<section class="blog-listing blog-listing--{{ module.layout_style }} {% if module.layout_style == 'card' %}blog-listing--{{ module.number_of_posts }}-col{% endif %}">
{% for post in post_listing %}

  {# Blog listing article #}

  <article class="blog-listing__post card {{ card_style }}" aria-label="Blog post summary: {{ post.name }}">

    {# Featured image #}

    {% if post.featured_image and module.featured_image %}
      <a class="blog-listing__post-image-wrapper" href="{{ post.absolute_url }}" aria-label="{% if post.featured_image_alt_text %}Featured image: {{ post.featured_image_alt_text }} - {% endif %}Read full post: {{ post.name }}">
    <img class="blog-listing__post-image" src="{{ post.featured_image }}" {% if module.layout_style == 'card'%}height="200"{% endif %} loading="lazy" alt="{{ post.featured_image_alt_text }}">
      </a>
    {% endif %}

    {# Article content #}

    <div class="blog-listing__post-content">

      {# Article header #}

      <div class="blog-listing__header">

        {# Tags #}

        {% if module.tags and post.tag_list %}
          <div class="blog-listing__post-tags">
            {% for tag in post.tag_list %}
              <a class="blog-listing__post-tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>{% if !loop.last %}<span>, </span>{% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {# Title #}

        {% if module.title %}
          <h2 class="blog-listing__post-title">
            <a class="blog-listing__post-title-link" href="{{ post.absolute_url }}">{{ post.name }}</a>
          </h2>
        {% endif %}

        {# Author #}

        {% if module.author && post.blog_author %}
          <div class="blog-listing__post-author">
            {% if post.blog_author.avatar %}
              <img class="blog-listing__post-author-image" src="{{ post.blog_author.avatar }}" width="50" loading="lazy" alt="Picture of {{ post.blog_author.display_name }}">
            {% endif %}
            <a class="blog-listing__post-author-name" href="{{ blog_author_url(group.id, post.blog_post_author.slug) }}">{{ post.blog_author.display_name }}</a>
          </div>
        {% endif %}

        {# Date #}

        {% if module.date %}
          <time class="blog-listing__post-timestamp" datetime="{{ post.publish_date }}">
            {{ post.publish_date_localized }}
          </time>
        {% endif %}

      </div>

      {# Summary #}

      {% if module.description %}
        <div class="blog-listing__post-summary">
          {{ post.post_list_content|truncatehtml(100) }}
        </div>
      {% endif %}

      {# Button #}

      {% if module.button %}
        <div class="blog-listing__post-button-wrapper">
          <a class="blog-listing__post-button button {{ button_style }} {{ button_size }}" href="{{ post.absolute_url }}">{{ module.button_text }}</a>
        </div>
      {% endif %}

    </div>

  </article>

{% endfor %}
</section>