/* Social sharing wrapper */

.social-sharing {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

/* Social sharing text */

.social-sharing__share-text {
  font-weight: bold;
  margin-right: 0.7rem;
}

/* Social sharing icons */

.social-sharing__link {
  margin-right: 0.7rem;
}

.social-sharing__link:last-child {
  margin-right: 0;
}
