<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends './layouts/base.html' %}

{% block body %}
{% dnd_area 'dnd_area'
  label='Main section'
%}

  {# Banner #}

  {% include_dnd_partial path='../sections/hero-banner.html' %}

  {# Customer logos #}

  {% include_dnd_partial path='../sections/logo-gallery.html' %}

  {# Icons and copy #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row
        margin={
          'bottom': 22
        }
      %}
        {% dnd_module
          path='@hubspot/rich_text',
          html='<div style="text-align: center;"><h2>Built with you in mind</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row
        margin={
          'bottom': 22
        }
      %}
        {% dnd_column
          width=4
        %}
          {% dnd_row %}
            {% dnd_module
              path='../modules/icon',
              styles={
                'alignment': {
                  'alignment': {
                    'horizontal_align': 'CENTER'
                  }
                },
                'spacing': {
                  'spacing': {
                    'margin': {
                      'bottom': {
                        'value': 22,
                        'units': 'px'
                      }
                    }
                  }
                }
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path='@hubspot/rich_text',
              html='<div style="text-align: center;"><h3>Quick setup</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p></div>'
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=4,
          width=4
        %}
          {% dnd_row %}
            {% dnd_module
              path='../modules/icon',
              styles={
                'alignment': {
                  'alignment': {
                    'horizontal_align': 'CENTER'
                  }
                },
                'spacing': {
                  'spacing': {
                    'margin': {
                      'bottom': {
                        'value': 22,
                        'units': 'px'
                      }
                    }
                  }
                }
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path='@hubspot/rich_text',
              html='<div style="text-align: center;"><h3>Easy to use</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p></div>'
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=8,
          width=4
        %}
          {% dnd_row %}
            {% dnd_module
              path='../modules/icon',
              styles={
                'alignment': {
                  'alignment': {
                    'horizontal_align': 'CENTER'
                  }
                },
                'spacing': {
                  'spacing': {
                    'margin': {
                      'bottom': {
                        'value': 22,
                        'units': 'px'
                      }
                    }
                  }
                }
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path='@hubspot/rich_text',
              html='<div style="text-align: center;"><h3>Customizable</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p></div>'
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path='../modules/button',
          button_text='Get started',
          styles={
            'alignment': {
              'alignment': {
                'horizontal_align': 'CENTER'
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Video #}

  {% include_dnd_partial path='../sections/video.html' %}

  {# Two column image and text #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row
        margin={
          'bottom': 22
        }
      %}
        {% dnd_module
          path='@hubspot/rich_text',
          html='<div style="text-align: center;"><h2>A suite of tools at your disposal</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row
        margin={
          'bottom': 44
        }
      %}
        {% dnd_column
          width=5
        %}
          {% dnd_row
            margin={
              'bottom': 22
            }
          %}
            {% dnd_module
              path='@hubspot/linked_image',
              img={
                'alt': 'Product name',
                'loading': 'lazy',
                'max_height': 300,
                'max_width': 500,
                'size_type': 'auto_custom_max',
                'src': get_asset_url('../images/industry-images/feature-one.jpg')
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=5,
          width=1
        %}
          {% dnd_row %}
            {% dnd_module path='@hubspot/horizontal_spacer' %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=6,
          width=6
        %}
          {% dnd_row %}
            {% dnd_module
              path='@hubspot/rich_text',
              html='<h3>Product name</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module path='../modules/button' %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
      {% dnd_row
        margin={
          'bottom': 44
        }
      %}
        {% dnd_column
          width=6
        %}
          {% dnd_row %}
            {% dnd_module
              path='@hubspot/rich_text',
              html='<h3>Product name</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path='../modules/button',
              styles={
                'spacing': {
                  'spacing': {
                    'margin': {
                      'bottom': {
                        'value': 22,
                        'units': 'px'
                      }
                    }
                  }
                }
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=6,
          width=1
        %}
          {% dnd_row %}
            {% dnd_module path='@hubspot/horizontal_spacer' %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=7,
          width=5
        %}
          {% dnd_row %}
            {% dnd_module
              path='@hubspot/linked_image',
              horizontal_alignment='RIGHT',
              img={
                'alt': 'Product name',
                'loading': 'lazy',
                'max_height': 300,
                'max_width': 500,
                'size_type': 'auto_custom_max',
                'src': get_asset_url('../images/industry-images/feature-two.jpg')
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_column
          width=5
        %}
          {% dnd_row
            margin={
              'bottom': 22
            }
          %}
            {% dnd_module
              path='@hubspot/linked_image',
              img={
                'alt': 'Product name',
                'loading': 'lazy',
                'max_height': 300,
                'max_width': 500,
                'size_type': 'auto_custom_max',
                'src': get_asset_url('../images/industry-images/feature-three.jpg')
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=5,
          width=1
        %}
          {% dnd_row %}
            {% dnd_module path='@hubspot/horizontal_spacer' %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=6,
          width=6
        %}
          {% dnd_row %}
            {% dnd_module
              path='@hubspot/rich_text',
              html='<h3>Product name</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module path='../modules/button' %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Testimonial #}

  {% dnd_section
    background_color='#F5F8FA',
    max_width=750
  %}
    {% dnd_module path='../modules/testimonial' %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {# Latest posts #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row
        margin={
          'bottom': 22
        }
      %}
        {% dnd_module
          path='@hubspot/rich_text',
          html='<div style="text-align: center;"><h2>Latest posts</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path='../modules/recent-posts' %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Contact form #}

  {% dnd_section
    background_color='#F5F8FA'
  %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module
          path='@hubspot/rich_text',
          html='<div style="text-align: center;"><h2>Contact us</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/form' %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}
