<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pricing
  screenshotPath: ../images/template-previews/pricing.png
-->
{% extends './layouts/base.html' %}

{% block body %}
{% dnd_area 'dnd_area'
  label='Main section'
%}

  {# Banner #}

  {% dnd_section
    background_image={
      'backgroundPosition': 'MIDDLE_CENTER',
      'backgroundSize': 'cover',
      'imageUrl': get_asset_url('../images/industry-images/pricing-banner.jpg')
    },
    max_width=750,
    padding={
      'top': 132,
      'bottom': 132
    }
  %}
    {% dnd_module
      path='@hubspot/rich_text',
      html='<div style="text-align: center;"><h1 style="color: #fff;">Pricing</h1><p style="color: #fff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>'
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {# Pricing #}

  {% include_dnd_partial path='../sections/pricing.html' %}

  {# Feature lists #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row
        margin={
          'bottom': 22
        }
      %}
        {% dnd_module
          path='@hubspot/rich_text',
          html='<div style="text-align: center;"><h2>All plans include</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_column
          width=6
        %}
          {% dnd_row %}
            {% dnd_module
              path='../modules/list',
              list_items=[
                {
                  'content': '<h3>Product feature</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p>'
                },
                {
                  'content': '<h3>Product feature</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p>'
                },
                {
                  'content': '<h3>Product feature</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p>'
                }
              ]
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=6,
          width=6
        %}
          {% dnd_row %}
            {% dnd_module
              path='../modules/list',
              list_items=[
                {
                  'content': '<h3>Product feature</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p>'
                },
                {
                  'content': '<h3>Product feature</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p>'
                },
                {
                  'content': '<h3>Product feature</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor arcu non commodo elementum.</p>'
                }
              ]
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Call to action #}

  {% include_dnd_partial path='../sections/call-to-action.html' %}

  {# FAQ #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row
        margin={
          'bottom': 22
        }
      %}
        {% dnd_module
          path='@hubspot/rich_text'
          html='<div style="text-align: center;"><h2>Frequently asked questions</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path='../modules/accordion' %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}
