{% set departments = [] %}
{% set locations = [] %}
{% set companies = [] %}

{% set filteredCompany = request.path_param_dict.dynamic_slugs|length > 0 && request.path_param_dict.dynamic_slugs[0] != "all" ? request.path_param_dict.dynamic_slugs[0] : "" %}
{% set filteredDepartment = request.path_param_dict.dynamic_slugs|length > 1 && request.path_param_dict.dynamic_slugs[1] != "all" ? request.path_param_dict.dynamic_slugs[1] : "" %}
{% set filteredLocation = request.path_param_dict.dynamic_slugs|length > 2 && request.path_param_dict.dynamic_slugs[2] != "all" ? request.path_param_dict.dynamic_slugs[2] : "" %}

{% set dataQueryData = module.data_query.data.CRM %}

{% for filterOption in dataQueryData.department_and_location_filter_options.items %}
    {% do departments.append(filterOption.department) %}
    {% do locations.append(filterOption.location) %}
{% endfor %}

{% for filterOption in dataQueryData.company_filter_options.items %}
    {% do companies.append(filterOption.name) %}
{% endfor %}

{% set uniqueDepartments = departments|unique %}
{% set uniqueLocations = locations|unique %}
{% set uniqueCompanies = companies|unique %}

{% set roleCollection = dataQueryData.roles_by_location_department %}

{% set searchingByCompany = request.path_param_dict.dynamic_slugs|length > 0 && request.path_param_dict.dynamic_slugs[0] != "all" ? true : false %}

{% if searchingByCompany %}
    {% set roleCollection = dataQueryData.roles_by_associated_company.items[0].associations.p_role_collection__role_to_company %}
{% endif %}

{% set roles = roleCollection.items %}

{% set offset = roleCollection.offset %}
{% set limit = module.cards_per_row * module.rows_per_page %}

{% set currentPage = (offset / limit)|round(0, 'ceil') %}

{% set totalPages = (roleCollection.total / limit)|round(0, 'ceil')  %}

<div class="role-filter-wrapper">
    <div class="role-filter">
        Filter by location:
        <select id="location">
            <option value="">All Locations</option>
            {% for location in uniqueLocations %}
                <option value="{{location}}" {{location == filteredLocation ? "selected" : ""}}>{{location}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="role-filter">
        Filter by department:
        <select id="department">
            <option value="">All Departments</option>
            {% for department in uniqueDepartments %}
                <option value="{{department}}" {{department == filteredDepartment ? "selected" : ""}}>{{department}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="role-filter">
        Filter by company:
        <select id="company">
            <option value="">All Companies</option>
            {% for company in uniqueCompanies %}
                <option value="{{company}}" {{company == filteredCompany ? "selected" : ""}}>{{company}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="role-listing">
    {% if roles|length == 0 %}
        <h2>No Results Found</h2>
    {% endif %}
    {% for role in roles %}
        {% if searchingByCompany %}
            {% set company = dataQueryData.roles_by_associated_company.items[0] %}
        {% else %}
            {% set company = role.associations.company_collection__role_to_company.items|first %}
        {% endif %}
        
        {% set roleDetailLink = "/roles/detail/{{role.role_identifier}}?role_identifier={{role.role_identifier}}&title={{role.title}}&job_title={{role.title}}" %}
        <div class="role-card" onclick="window.location='{{ roleDetailLink }}'">
            <div class="role-card-body">
                <h1>{{ role.title }}</h1>
                {% if module.show_company %}
                    <h2>{{ company.name }}</h2>
                {% endif %}
                {% if module.show_description %}
                    <p>{{ truncate(role.description, module.description_length, false, '...') }}</p>
                {% endif %}
            </div> 
            <div class="role-card-actions">
                <a class="button" href="{{ roleDetailLink }}">Apply</a>
            </div>
        </div>    
    {% endfor %}
</div>
<div>
    {% for i in range(0, totalPages) %}
        {% if loop.index == currentPage %}
            <span>{{loop.index}}</span>
        {% else %}
            {% set queryParams = "offset={{i*limit}}&limit={{limit}}" %}

            <a href="{{ request.path }}?{{queryParams}}">{{loop.index}}</a>
        {% endif %}
    {% endfor %}
</div>

<script>
    window.onload = function() { 
        // Construct URL object using current browser URL
        var url = new URL(document.location);

        document.querySelector("#location").addEventListener('change', function() { 
            changeFilter();
        });

        document.querySelector("#department").addEventListener('change', function() {
        changeFilter();
        });

        document.querySelector("#company").addEventListener('change', function() {
            changeFilter();
        });

        function changeFilter() {
            var href = url.origin + "/roles";

            var companyValue = document.querySelector("#company").value;
            var departmentValue = document.querySelector("#department").value;
            var locationValue = document.querySelector("#location").value;
            
            if (companyValue) {
                href += "/" + companyValue;
            } else {
                href += "/all";
            }

            if (departmentValue) {
                href += "/" + departmentValue;
            } else {
                href += "/all";
            }

            if (locationValue) {
                href += "/" + locationValue;
            } else {
                href += "/all";
            }

            window.location.href = href;
        }
    }
</script>

{% require_css %}
<style>
    .role-card {
        width: calc({{(100 / module.cards_per_row)|round(1, 'floor')}}% - 48px);
    }
</style>
{% end_require_css %}