{# Module styles #}

<style>
{% scope_css %}

  /* Social follow wrapper */

  .social-follow {
    {% if module.styles.alignment.alignment.horizontal_align %}
      {% if module.styles.alignment.alignment.horizontal_align == 'CENTER' %}
        justify-content: center;
      {% elif module.styles.alignment.alignment.horizontal_align == 'RIGHT' %}
        justify-content: flex-end;
      {% endif %}
    {% endif %}
  }

  /* Social follow icons */

  .social-follow__link {
    {% if module.styles.spacing.space_between_icons %}
      margin-right: {{ module.styles.spacing.space_between_icons ~ 'px' }};
    {% endif %}
    {% if module.styles.spacing.spacing.margin.bottom %}
      margin-bottom: {{ module.styles.spacing.spacing.margin.bottom.value ~ module.styles.spacing.spacing.margin.bottom.units }};
    {% endif %}
    {% if module.styles.spacing.spacing.margin.top %}
      margin-top: {{ module.styles.spacing.spacing.margin.top.value ~ module.styles.spacing.spacing.margin.top.units }};
    {% endif %}
  }

  .social-follow__icon {
    {% if module.styles.background.color.color %}
      background-color: rgba({{ module.styles.background.color.color|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
    {% endif %}
    {% if module.styles.corner.radius %}
      border-radius: {{ module.styles.corner.radius ~ 'px' }};
    {% endif %}
    {% if module.styles.spacing.spacing.padding.bottom %}
      padding-bottom: {{ module.styles.spacing.spacing.padding.bottom.value ~ module.styles.spacing.spacing.padding.bottom.units }};
    {% endif %}
    {% if module.styles.spacing.spacing.padding.top %}
      padding-top: {{ module.styles.spacing.spacing.padding.top.value ~ module.styles.spacing.spacing.padding.top.units }};
    {% endif %}
    {% if module.styles.spacing.spacing.padding.left %}
      padding-left: {{ module.styles.spacing.spacing.padding.left.value ~ module.styles.spacing.spacing.padding.left.units }};
    {% endif %}
    {% if module.styles.spacing.spacing.padding.right %}
      padding-right: {{ module.styles.spacing.spacing.padding.right.value ~ module.styles.spacing.spacing.padding.right.units }};
    {% endif %}
  }

  .social-follow__icon svg {
    {% if module.styles.fill.color.color %}
      fill: {{ module.styles.fill.color.color }};
    {% endif %}
    {% if module.styles.size.size %}
      height: {{ module.styles.size.size ~ 'px' }};
      width: {{ module.styles.size.size ~ 'px' }};
    {% endif %}
  }

  {% if module.styles.background.color.color %}
    .social-follow__icon:hover,
    .social-follow__icon:focus {
        background-color: rgba({{ color_variant(module.styles.background.color.color, -80)|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
    }
  {% endif %}

  {% if module.styles.background.color.color %}
    .social-follow__icon:active {
      background-color: rgba({{ color_variant(module.styles.background.color.color, 80)|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
    }
  {% endif %}

{% end_scope_css %}
</style>

{# Sets CSS classes based on style field options #}

{% if module.styles.presets.icon_size == 'small' %}
  {% set icon_size = 'icon--small' %}
{% elif module.styles.presets.icon_size == 'large' %}
  {% set icon_size = 'icon--large' %}
{% endif %}

{% if module.styles.presets.icon_color == 'light' %}
  {% set icon_color = 'icon--light' %}
{% endif %}

{% if module.styles.presets.icon_shape == 'square' %}
  {% set icon_shape = 'icon--square' %}
{% endif %}

{# Social follow #}

<div class="social-follow">

  {# Loops through icons in the repeater #}

  {% for social_link in module.social_links %}

    {# Sets the icon to one of the preset social icons or a custom icon #}

    {% if social_link.social_account != 'custom_icon' %}
      {% set social_icon = social_link.social_account %}
    {% else %}
      {% set social_icon = social_link.custom_icon.name %}
    {% endif %}

    {# Sets attributes used for the link field #}

    {% set href = social_link.link.url.href %}
    {% if social_link.link.url.type is equalto 'EMAIL_ADDRESS' %}
      {% set href = 'mailto:' + href %}
    {% endif %}
    {% set rel = [] %}
    {% if social_link.link.no_follow %}
      {% do rel.append('nofollow') %}
    {% endif %}
    {% if social_link.link.open_in_new_tab %}
      {% do rel.append('noopener') %}
    {% endif %}

    {# Social follow icon and link #}

    <a href="{{ href }}"
      class="social-follow__link"
      {% if social_link.link.open_in_new_tab %}target="_blank"{% endif %}
      {% if rel %}rel="{{ rel|join(' ') }}"{% endif %}
    >
      <span class="{{ icon_size }} {{ icon_color }} {{ icon_shape }}">
        {% icon
          extra_classes='social-follow__icon icon',
          name='{{ social_icon }}',
          purpose='semantic',
          style='SOLID',
          title='{{ social_link.accessibility_options.title }}'
        %}
      </span>
    </a>

  {% endfor %}
</div>