.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pagination__link {
  margin: 0 0.35rem;
}

.pagination__link,
.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  text-decoration: none;
}

.pagination__link--disabled,
.pagination__link--disabled:hover,
.pagination__link--disabled:focus,
.pagination__link--disabled:active {
  cursor: default;
  pointer-events: none;
}

.pagination__link--disabled .pagination__link-text,
.pagination__link--disabled:hover .pagination__link-text,
.pagination__link--disabled:focus .pagination__link-text,
.pagination__link--disabled:active .pagination__link-text {
  color: #888 !important; /* stylelint-disable-line declaration-no-important */
}

.pagination__link--disabled .pagination__link-icon svg,
.pagination__link--disabled:hover .pagination__link-icon svg,
.pagination__link--disabled:focus .pagination__link-icon svg,
.pagination__link--disabled:active .pagination__link-icon svg {
  fill: #888 !important; /* stylelint-disable-line declaration-no-important */
}

.pagination__link--first,
.pagination__link--prev {
  margin-right: 0.7rem;
}

.pagination__link--first {
  margin-left: 0;
}

.pagination__link--number {
  padding: 0.35rem 0.7rem;
}

.pagination__link-icon {
  display: inline-flex;
}

.pagination__link--last,
.pagination__link--next {
  margin-left: 0.7rem;
}

.pagination__link--last {
  margin-right: 0;
}

.pagination__link--active {
  border-style: solid;
  border-width: 1px;
}
