.featured-roles-wrapper {
    margin-bottom: 16px;
}
.featured-roles-wrapper>h2 {
    margin: 0px;
}

.featured-roles {
    display: flex;
    flex-wrap: wrap;
}

.featured-roles > .role-card {
    cursor: pointer;
    background-color: white;
    width: calc(33.3% - 32px);
    padding: 16px;
    margin: 16px;
    border: 2px solid black;
}

.featured-roles > .role-card>h1 {
    font-size: 28px;
    margin: 0px;
}

.featured-roles > .role-card>h2 {
    font-size: 22px;
    margin: 0px 0px 0px 0px;
}