{# Module styles #}

<style>
  {% scope_css %}
    @media (min-width: 767px) {
      .card {
        width: calc({{(100 / module.cards_per_row)}}% - 0.7rem);
      }
    }
  {% end_scope_css %}
</style>

{# Module data #}

{% if !is_in_editor %}

  {% set contact = data_query.data.CRM.contact %}
  {% set applications = contact.associations.p_job_application_collection__job_application_to_contact.items %}

{% else %}

  {# Example data used in the editor #}

  {% set applications = [
      {
        application_status: 'Applied',
        associations: {
          p_role_collection__role_to_job_application: {
            items: [
              {
                department: 'Sales',
                location: 'Aventura, FL',
                associations: {
                  company_collection__role_to_company: {
                    items: [
                      {
                        name: 'Tesla'
                      }
                    ]
                  }
                }
              }
            ]
          }
        },
        job_title: 'Store Leader'
      },
      {
        application_status: 'Applied',
        associations: {
          p_role_collection__role_to_job_application: {
            items: [
              {
                department: 'Operations',
                location: 'Cambridge, MA',
                associations: {
                  company_collection__role_to_company: {
                    items: [
                      {
                        name: 'HubSpot'
                      }
                    ]
                  }
                }
              }
            ]
          }
        },
        job_title: 'Sales Operation Specialist'
      }
    ]
  %}

{% endif %}

  {# Application listing #}

  <section class="card-listing">

    {# Heading #}

    <h1 class="card-listing__heading">{{ applications|length }} Applications</h1>

    {# Application cards #}

    {% for application in applications %}

      {% set role = application.associations.p_role_collection__role_to_job_application.items|first %}
      {% set company = role.associations.company_collection__role_to_company.items|first %}

      <section class="card">
        <h2 class="card__heading">{{ application.job_title }}</h2>
        <h3 class="card__subheading">{{ company.name }}</h3>
        <span class="card__item">{{ role.department|capitalize }}</span>
        <span class="card__item">{{ role.location }}</span>
        <span class="card__item">Status: {{ application.application_status|capitalize }}</span>
        <a class="card__button button" href="/application-details?applicationId={{ application._metadata.id }}">Details</a>
      </section>

    {% endfor %}

  </section>