/* Application listing */

.application-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.4rem 0;
}

@media (max-width: 767px) {
  .application-listing {
    padding: 1.4rem 1rem;
  }
}

.application-listing__heading {
  text-align: center;
  width: 100%;
}

.application-card {
  border: 2px solid #494A52;
  margin-bottom: 1.4rem;
  padding: 1.4rem;
  width: 100%;
}

.application-card__heading,
.application-card__company,
.application-card__department,
.application-card__location,
.application-card__status {
  display: block;
  margin-bottom: 0.7rem;
}

.application-card__heading {
  font-size: 30px;
}

.application-card__company {
  font-size: 24px;
}