/* Tabs container */

.tabs {
  display: flex;
  justify-content: space-between;
}

/* Tabs */

.tabs__tab {
  position: relative;
}

.tabs__tab,
.tabs__tab:hover,
.tabs__tab:focus,
.tabs__tab:active {
  flex: 1;
  justify-content: center;
  padding: 1.4rem 0.7rem;
  text-align: center;
}

.tabs__tab[aria-selected='true'] {
  font-weight: bold;
}

/* Applies border to pseudo element to prevent jitter when hovering over tabs */

.tabs__tab:after {
  border-bottom: 1px solid;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tabs__tab[aria-selected='false']:hover:after,
.tabs__tab[aria-selected='false']:focus:after,
.tabs__tab[aria-selected='true']:after {
  border-bottom: 2px solid;
}

/* Tab content */

.tabs__content {
  padding: 2.8rem;
}
