/* Accordion */

.accordion {
  margin-bottom: 1.4rem;
  padding: 0;
}

/* Accordion title and content */

.accordion__summary {
  cursor: pointer;
  list-style-type: none;
}

.accordion__summary,
.accordion__content {
  padding: 0.7rem;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.card--dark .accordion__summary,
.card--dark .accordion__content,
.card--light .accordion__summary,
.card--light .accordion__content {
  padding: 2.1rem;
}

/* Accordion icons */

.accordion__summary:before {
  margin-right: 1.4rem;
}

.accordion__summary:-webkit-details-marker {
  display: none;
}

/* Accordion icons - closed icon */

.accordion--caret .accordion__summary:before {
  content: '\25BC';
}

.accordion--plus .accordion__summary:before {
  content: '\002B';
}

/* Accordion icons - opened icons */

.accordion--caret[open] .accordion__summary:before {
  content: '\25B2';
}

.accordion--plus[open] .accordion__summary:before {
  content: '\2212';
}
