{# Module styles #}

<style>
{% scope_css %}

  /* Accordion */

    .accordion {
      {{ module.styles.accordions.border.border.css }}
      {% if module.styles.accordions.corner.radius %}
        border-radius: {{ module.styles.accordions.corner.radius ~ 'px' }};
      {% endif %}
      {{ module.styles.accordions.spacing.space_between_accordions.css }}
    }

  /* Accordion title */

  .accordion__summary {
    {% if module.styles.title.background.color.color %}
      background-color: rgba({{ module.styles.title.background.color.color|convert_rgb }}, {{ module.styles.title.background.color.opacity / 100 }});
    {% endif %}
    {% if module.styles.title.text.font.color %}
      color: {{ module.styles.title.text.font.color }};
    {% endif %}
    {% if module.styles.title.text.font.size %}
      font-size: {{ module.styles.title.text.font.size ~ module.styles.title.text.font.size_unit }};
    {% endif %}
    {% if module.styles.title.text.font.style %}
      {{ module.styles.title.text.font.style }};
    {% endif %}
    {{ module.styles.title.spacing.spacing.css }}
    {% if module.styles.title.text.transform %}
      text-transform: {{ module.styles.title.text.transform }};
    {% endif %}
  }

  /* Accordion icons */

  {% if module.styles.title.text.font.color %}
    .accordion__summary:before {
      color: {{ module.styles.title.text.font.color }};
    }
  {% endif %}

  /* Accordion content */

  .accordion__content {
    {% if module.styles.content.background.color.color %}
      background-color: rgba({{ module.styles.content.background.color.color|convert_rgb }}, {{ module.styles.content.background.color.opacity / 100 }});
    {% endif %}
    {{ module.styles.content.spacing.spacing.css }}
  }

  {% end_scope_css %}
</style>

{# Sets CSS classes based on style field options #}

{% if module.styles.accordions.presets.card_style == 'dark' %}
  {% set card_style = 'card--dark' %}
{% elif module.styles.accordions.presets.card_style == 'light' %}
  {% set card_style = 'card--light' %}
{% endif %}

{# Accordions #}

<section class="accordion-wrapper">

  {# Loops through accordions in repeater #}

  {% for accordion in module.accordions %}

    {# Accordion #}

    <details class="accordion {{ 'accordion--caret' if module.icon == 'caret' else 'accordion--plus' }} card {{ card_style }}" {% if accordion.open_by_default == true %}open{% endif %}>
      <summary class="accordion__summary">{{ accordion.title }}</summary>
      <div class="accordion__content">
        {{ accordion.content }}
      </div>
    </details>

  {% endfor %}

</section>