{# Module data #}

{% if request.query_dict.applicationId %}

  {% set application = module.data_query.data.CRM.p_job_application %}
  {% set role = application.associations.p_role_collection__role_to_job_application.items %}
  {% set company = role.associations.company_collection__role_to_company.items %}
  {% set associatedContacts = application.associations.contact_collection__job_application_to_contact.items %}
  {% set applicationAssociatedToCurrentUser = {'isAssociated': false } %}

  {% for associatedContact in associatedContacts %}
    {% if associatedContact._metadata.id == request.contact.contact_vid %}
      {% do applicationAssociatedToCurrentUser.update({'isAssociated': true}) %}
    {% endif %}
  {% endfor %}

{% else %}

  {# Example data used in the editor #}

  {% set application = {
      job_title: 'Store Leader',
      application_status: 'Applied'
    }
  %}

  {% set role = {
      location: 'Aventura, FL',
      department: 'Sales',
      salary_max: '120,000',
      salary_min: '85,000'
    }
  %}

  {% set company = {
      name: 'Tesla'
    }
  %}

{% endif %}

{# Application details #}

{% if request.query_dict.applicationId || is_in_editor %}

  {% if applicationAssociatedToCurrentUser.isAssociated || is_in_editor %}
    <section class="application-details">
      <h1 class="application-details__heading">Application details</h1>
      <span class="application-details__status">Status: {{ application.application_status|capitalize }}</span>
      <span class="application-details__company">Company: {{ company.name }}</span>
      <span class="application-details__title">Title: {{ application.job_title }}</span>
      <span class="application-details__location">Location: {{ role.location }}</span>
      <span class="application-details__salary-range">Salary Range: ${{ role.salary_min }}-{{ role.salary_max }}</span>
      <span class="application-details__department">Department: {{ role.department|capitalize }}</span>
    </section>
  {% else %}
    <h1>No application information found for current user.</h1>
  {% endif %}

{% else %}
  <h1>No application information found.</h1>
{% endif %}