.role-details__heading,
.role-application__heading {
  text-align: center;
}

.role-details {
  padding: 1.4rem 1rem;
}

.role-details span {
  display: block;
  margin-bottom: 1.4rem;
}

.role-application {
  background-color: #F8FAFC;
  padding: 1.4rem 1rem;
}