{####################################################}
{############### Header components ##################}
{####################################################}

{# Logo #}

{% macro logo() %}

  {% unless (module.logo.link is string_startingwith "http") or (module.logo.link is string_startingwith "/") or (module.logo.link is string_startingwith "mailto") or (module.logo.link is string_startingwith "#") or !module.logo.link %}
    {% set link = "//" ~ module.logo.link %}
  {% else %}
    {% set link = module.logo.link || "" %}
  {% endunless %}

  <div class="header__logo">

    {% if link %}
      <a class="header__logo-link" href="{{ link }}" {% if module.logo.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}>
    {% endif %}

      {# If override is turned on for the logo field and a logo image is provided #}

      {% if module.logo.logo.override_inherited_src && module.logo.logo.src %}

        <img class="header__logo-image" src="{{ module.logo.logo.src }}" loading="eager" alt="{{ module.logo.logo.alt }}" height="{{ module.logo.logo.height }}" width="{{ module.logo.logo.width }}">

      {# If override is turned off for the logo field and a logo image is set in site settings #}

      {% elif !module.logo.logo.override_inherited_src && site_settings.logo_src %}

        <img class="header__logo-image" src="{{ site_settings.logo_src }}" loading="eager" alt="{{ site_settings.logo_alt }}" height="{{ site_settings.logo_height }}" width="{{ site_settings.logo_width }}">

      {# If no image is provided and "show company name when logo isn't set" is equal to true #}

      {% else %}

        {% if !module.logo.logo.suppress_company_name %}
          <span class="header__logo-company-name">{{ site_settings.company_name }}</span>
        {% endif %}

      {% endif %}

    {% if link %}
      </a>
    {% endif %}

  </div>

{% endmacro %}

{# Menu items #}

{% macro navigation_items() %}

  {% set menu = menu(module.menu.menu, 'site_root').children %}

  {% macro render_link_item(link, depth) %}
    <li class="header__menu-item header__menu-item--depth-{{ depth }} {{ 'header__menu-item--has-submenu' if link.children && depth < module.menu.max_levels }} hs-skip-lang-url-rewrite">
      <a class="header__menu-link {{ 'header__menu-link--toggle' if link.children && depth < module.menu.max_levels }} {{ 'header__menu-link--active-link' if link.activeNode }}" href="{{ link.url }}" {{ 'aria-haspopup="true" aria-expanded="false"' if link.children && depth < module.menu.max_levels }} {{ 'aria-current="page"' if link.activeNode }} {{ 'target="_blank" rel="noopener"' if link.linkTarget }}>{{ link.label }}</a>
      {% if link.children %}
        {% if depth && depth < module.menu.max_levels %}
          <button class="header__menu-child-toggle no-button" aria-expanded="false">
            <span class="show-for-sr">Show submenu for {{ link.label }}</span>
              {% icon
                name='chevron-down',
                no_wrapper=True,
                purpose='decorative',
                style='SOLID'
              %}
          </button>
          <ul class="header__menu-submenu header__menu-submenu--level-{{ depth + 1 }} no-list">
            {% set depth = depth + 1 %}
            {% for sublink in link.children %}
              {{ render_link_item(sublink, depth) }}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </li>
  {% endmacro %}

  {% for link in menu %}
    {{ render_link_item(link, 1) }}
  {% endfor %}

{% endmacro %}

{# Desktop menu #}

{% macro desktop_navigation() %}

  <nav class="header__menu header__menu--desktop" aria-label="Desktop navigation">
    <ul class="header__menu-wrapper no-list">
      {{ navigation_items() }}
    </ul>
  </nav>

{% endmacro %}

{# Mobile menu #}

{% macro mobile_navigation() %}

  <div class="header__menu-container header__menu-container--mobile">
    <button class="header__menu-toggle header__menu-toggle--open header__menu-toggle--show no-button">
      <span class="show-for-sr">Open main navigation</span>
      {% icon
        name='bars',
        no_wrapper=True,
        purpose='decorative',
        style='SOLID',
        width='24'
      %}
    </button>
    <button class="header__menu-toggle header__menu-toggle--close no-button">
      <span class="show-for-sr">Close main navigation</span>
      {% icon
        name='times',
        no_wrapper=True,
        purpose='decorative',
        style='SOLID',
        width='24'
      %}
    </button>
    <nav class="header__menu header__menu--mobile" aria-label="Mobile navigation">
      <ul class="header__menu-wrapper no-list">
        {{ navigation_items() }}
        {% if content.translated_content.values()|selectattr('published')|length && module.language_switcher.add_language_switcher || is_listing_view && group.translations && module.language_switcher.add_language_switcher %}
          <li class="header__menu-item header__menu-item--language-switcher header__menu-item--depth-1 hs-skip-lang-url-rewrite">
            {{ language_switcher('mobile') }}
          </li>
        {% endif %}
        {% if module.button.add_button %}
          <li class="header__menu-item header__menu-item--button header__menu-item--depth-1 hs-skip-lang-url-rewrite">{{ button() }}</li>
        {% endif %}
      </ul>
    </nav>
  </div>

{% endmacro %}

{# Button #}

{% macro button() %}

  {# Sets CSS classes based on style options #}

  {% if module.styles.button.presets.button_style == 'secondary' %}
    {% set button_style = 'button--secondary' %}
  {% elif module.styles.button.presets.button_style == 'simple' %}
    {% set button_style = 'button--simple' %}
  {% endif %}

  {% if module.styles.button.presets.button_size == 'small' %}
    {% set button_size = 'button--small' %}
  {% elif module.styles.button.presets.button_size == 'large' %}
    {% set button_size = 'button--large' %}
  {% endif %}

  {# Sets attributes used for the link field #}

  {% set href = module.button.button_link.url.href %}
  {% if module.button.button_link.url.type is equalto 'EMAIL_ADDRESS' %}
    {% set href = 'mailto:' + href %}
  {% endif %}
  {% set rel = [] %}
  {% if module.button.button_link.no_follow %}
    {% do rel.append('nofollow') %}
  {% endif %}
  {% if module.button.button_link.open_in_new_tab %}
    {% do rel.append('noopener') %}
  {% endif %}

  <a href="{{ href }}" class="header__button button {{ button_style }} {{ button_size }} {{ icon_position }}"
    {% if module.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>

    {% if module.button.add_icon && module.button.icon.icon_field %}
      {% icon
        extra_classes='header__button-icon button__icon'
        name='{{ module.button.icon.icon_field.name }}'
        purpose='decorative'
        style='{{ module.button.icon.icon_field.type }}'
        unicode='{{ module.button.icon.icon_field.unicode }}'
      %}
    {% endif %}
    {{ module.button.button_text }}

  </a>

{% endmacro %}

{# Language switcher #}

{% macro language_switcher(viewport) %}

  <div class="header__language-switcher">
    <div class="header__language-switcher-label">
      {% if viewport == 'mobile' %}
        {% language_switcher 'language_switcher_mobile'
          display_mode='{{ module.language_switcher.display_mode }}',
          overrideable=false
        %}
      {% else %}
        {% language_switcher 'language_switcher'
          display_mode='{{ module.language_switcher.display_mode }}',
          overrideable=false
        %}
      {% endif %}
      <div class="header__language-switcher-current-label">
        <span>{{ locale_name(locale) }}</span>
        <button class="header__language-switcher-child-toggle no-button" aria-expanded="false">
          <span class="show-for-sr">Show submenu for translations</span>
            {% icon
              name='chevron-down',
              no_wrapper=True
              purpose='decorative',
              style='SOLID'
            %}
        </button>
      </div>
    </div>
  </div>

{% endmacro %}

{####################################################}
{################# Module styles ####################}
{####################################################}

<style>
{% scope_css %}

  /* Top bar */

  .header__top {
    background-color: rgba({{ module.styles.top_bar.background.color.color|convert_rgb }}, {{ module.styles.top_bar.background.color.opacity / 100 }});
  }

  /* Language switcher */

  .header__language-switcher-current-label > span {
    {% if module.styles.language_switcher.text.font.color %}
      color: {{ module.styles.language_switcher.text.font.color }};
    {% endif %}
    {% if module.styles.language_switcher.text.font.size %}
      font-size: {{ module.styles.language_switcher.text.font.size ~ module.styles.language_switcher.text.font.size_unit }};
    {% endif %}
    {% if module.styles.language_switcher.text.font.style %}
      {{ module.styles.language_switcher.text.font.style }};
    {% endif %}
    {% if module.styles.language_switcher.text.text_transform %}
      text-transform: {{ module.styles.language_switcher.text.text_transform }};
    {% endif %}
  }

  .header__language-switcher:hover .header__language-switcher-current-label > span,
  .header__language-switcher:focus .header__language-switcher-current-label > span {
    {% if module.styles.language_switcher.hover.font.color %}
      color: {{ module.styles.language_switcher.hover.font.color }};
    {% endif %}
    {% if module.styles.language_switcher.hover.font.size %}
      font-size: {{ module.styles.language_switcher.hover.font.size ~ module.styles.language_switcher.hover.font.size_unit }};
    {% endif %}
    {% if module.styles.language_switcher.hover.font.style %}
      {{ module.styles.language_switcher.hover.font.style }};
    {% endif %}
  }

  {% if module.styles.language_switcher.text.font.color %}
    .header__language-switcher-child-toggle svg {
      fill: {{ module.styles.language_switcher.text.font.color }};
    }
  {% endif %}

  /* Language switcher - submenu */

  {% if module.styles.language_switcher.drop_downs.background.color.color %}
    .header__language-switcher .lang_list_class li {
      background-color: rgba({{ module.styles.language_switcher.drop_downs.background.color.color|convert_rgb }}, {{ module.styles.language_switcher.drop_downs.background.color.opacity / 100 }});
    }
  {% endif %}

  {% if module.styles.language_switcher.drop_downs.text.font_color.color %}
    .header__language-switcher .lang_list_class a {
    {% if module.styles.language_switcher.text.font.size %}
      font-size: {{ module.styles.language_switcher.text.font.size ~ module.styles.language_switcher.text.font.size_unit }};
    {% endif %}
    {% if module.styles.language_switcher.text.font.style %}
      {{ module.styles.language_switcher.text.font.style }};
    {% endif %}
      color: {{ module.styles.language_switcher.drop_downs.text.font_color.color }};
    }
  {% endif %}

  .header__language-switcher .lang_list_class a:hover,
  .header__language-switcher .lang_list_class a:focus {
    {% if module.styles.language_switcher.drop_downs.hover.background_color.color %}
      background-color: rgba({{ module.styles.language_switcher.drop_downs.hover.background_color.color|convert_rgb }}, {{ module.styles.language_switcher.drop_downs.hover.background_color.opacity / 100 }});
    {% endif %}
    {% if module.styles.language_switcher.drop_downs.hover.font_color.color %}
      color: {{ module.styles.language_switcher.drop_downs.hover.font_color.color }};
    {% endif %}
  }

  .header__language-switcher .lang_list_class a:active {
    {% if module.styles.language_switcher.hover.font.color %}
      color: {{ module.styles.language_switcher.hover.font.color }};
    {% endif %}
    {% if module.styles.language_switcher.hover.font.size %}
      font-size: {{ module.styles.language_switcher.hover.font.size ~ module.styles.language_switcher.hover.font.size_unit }};
    {% endif %}
    {% if module.styles.language_switcher.hover.font.style %}
      {{ module.styles.language_switcher.hover.font.style }};
    {% endif %}
    {% if module.styles.language_switcher.hover.font.color %}
      color: {{ color_variant(module.styles.language_switcher.hover.font.color, 80) }};
    {% endif %}
  }

  /* Logo */

  {% if module.styles.logo.corner.radius %}
    .header__logo-image {
      border-radius: {{ module.styles.logo.corner.radius ~ 'px' }};
    }
  {% endif %}

  /* Menu */

  .header__menu-link {
    {% if module.styles.menu.text.font.color %}
      color: {{ module.styles.menu.text.font.color }};
    {% endif %}
    {% if module.styles.menu.text.font.size %}
      font-size: {{ module.styles.menu.text.font.size ~ module.styles.menu.text.font.size_unit }};
    {% endif %}
    {% if module.styles.menu.text.font.style %}
      {{ module.styles.menu.text.font.style }};
    {% endif %}
    {% if module.styles.menu.text.text_transform %}
      text-transform: {{ module.styles.menu.text.text_transform }};
    {% endif %}
  }

  /* Menu items - top level */

  {% if module.styles.menu.text.font.color %}
    .header__menu-item--depth-1 > .header__menu-child-toggle svg {
      fill: {{ module.styles.menu.text.font.color }};
    }
  {% endif %}

  .header__menu-item--depth-1 > .header__menu-link:hover,
  .header__menu-item--depth-1 > .header__menu-link:focus {
    {% if module.styles.menu.hover.font.color %}
      color: {{ module.styles.menu.hover.font.color }};
    {% endif %}
    {% if module.styles.menu.hover.font.size %}
      font-size: {{ module.styles.menu.hover.font.size ~ module.styles.menu.hover.font.size_unit }};
    {% endif %}
    {% if module.styles.menu.hover.font.style %}
      {{ module.styles.menu.hover.font.style }};
    {% endif %}
  }

  .header__menu-item--depth-1 > .header__menu-link:active {
    {% if module.styles.menu.hover.font.size %}
      font-size: {{ module.styles.menu.hover.font.size ~ module.styles.menu.hover.font.size_unit }};
    {% endif %}
    {% if module.styles.menu.hover.font.style %}
      {{ module.styles.menu.hover.font.style }};
    {% endif %}
    {% if module.styles.menu.hover.font.color %}
      color: {{ color_variant(module.styles.menu.hover.font.color, 80) }};
    {% endif %}
  }

  .header__menu-item--depth-1 > .header__menu-link--active-link {
    {% if module.styles.menu.active.font.color %}
      color: {{ module.styles.menu.active.font.color }};
    {% endif %}
    {% if module.styles.menu.active.font.size %}
      font-size: {{ module.styles.menu.active.font.size ~ module.styles.menu.active.font.size_unit }};
    {% endif %}
    {% if module.styles.menu.active.font.style %}
      {{ module.styles.menu.active.font.style }};
    {% endif %}
  }

  /* Menu items - submenus */

  {% if module.styles.menu.drop_downs.background.color.color %}
    .header__menu-submenu {
      background-color: rgba({{ module.styles.menu.drop_downs.background.color.color|convert_rgb }}, {{ module.styles.menu.drop_downs.background.color.opacity / 100 }});
    }
  {% endif %}

  .header__menu-submenu .header__menu-link:hover,
  .header__menu-submenu .header__menu-link:focus {
    {% if module.styles.menu.drop_downs.hover.background_color.color %}
      background-color: rgba({{ module.styles.menu.drop_downs.hover.background_color.color|convert_rgb }}, {{ module.styles.menu.drop_downs.hover.background_color.opacity / 100 }});
    {% endif %}
    {% if module.styles.menu.drop_downs.hover.font_color.color %}
      color: {{ module.styles.menu.drop_downs.hover.font_color.color }};
    {% endif %}
  }

  {% if module.styles.menu.drop_downs.text.font_color.color %}
    .header__menu-submenu .header__menu-link {
      color: {{ module.styles.menu.drop_downs.text.font_color.color }};
    }

    .header__menu-child-toggle svg {
      fill: {{ module.styles.menu.drop_downs.text.font_color.color }};
    }
  {% endif %}

  /* Button */

  .button {
    {% if module.styles.button.bg_color.color %}
      background-color: rgba({{ module.styles.button.bg_color.color|convert_rgb }}, {{ module.styles.button.bg_color.opacity / 100 }});
    {% endif %}
    {{ module.styles.button.border.border.css }}
    {% if module.styles.button.corner.radius %}
      border-radius: {{ module.styles.button.corner.radius ~ 'px' }};
    {% endif %}
    {% if module.styles.button.text.font.color %}
      color: {{ module.styles.button.text.font.color }};
    {% endif %}
    {% if module.styles.button.text.font.size %}
      font-size: {{ module.styles.button.text.font.size ~ module.styles.button.text.font.size_unit }};
    {% endif %}
    {% if module.styles.button.text.font.style %}
      {{ module.styles.button.text.font.style }};
    {% endif %}
    {{ module.styles.button.spacing.spacing.css }}
    {% if module.styles.button.text_transform %}
      text-transform: {{ module.styles.button.text_transform }};
    {% endif %}
  }

  {% if module.add_icon && module.icon.icon_field && module.styles.button.font.color %}
    .button svg {
      fill: {{ module.styles.button.font.color }};
    }
  {% endif %}

  .button:hover,
  .button:focus {
    {% if module.styles.button.hover.bg_color.color %}
      background-color: rgba({{ module.styles.button.hover.bg_color.color|convert_rgb }}, {{ module.styles.button.hover.bg_color.opacity / 100 }});
    {% endif %}
    {{ module.styles.button.hover.border.css }}
    {% if module.styles.button.hover.text.font.color %}
      color: {{ module.styles.button.hover.text.font.color }};
    {% endif %}
    {% if module.styles.button.hover.text.font.size %}
      font-size: {{ module.styles.button.hover.text.font.size ~ module.styles.button.hover.text.font.size_unit }};
    {% endif %}
    {% if module.styles.button.hover.text.font.style %}
      {{ module.styles.button.hover.text.font.style }};
    {% endif %}
  }

  {% if module.add_icon && module.icon.icon_field && module.styles.button.hover.font.color %}
    .button svg {
      fill: {{ module.styles.button.hover.font.color }};
    }
  {% endif %}

  .button:active {
    {% if module.styles.button.hover.bg_color.color %}
      background-color: rgba({{ color_variant(module.styles.button.hover.bg_color.color, 80)|convert_rgb }}, {{ module.styles.button.hover.bg_color.opacity / 100 }});
    {% endif %}
    {{ module.styles.button.hover.border.css }}
    {% if module.styles.hover.border.top.color %}
      border-color: {{ color_variant(module.styles.button.hover.border.top.color, 80) }};
    {% endif %}
    {% if module.styles.button.hover.text.font.color %}
      color: {{ module.styles.button.hover.text.font.color }};
    {% endif %}
    {% if module.styles.button.hover.text.font.size %}
      font-size: {{ module.styles.button.hover.text.font.size ~ module.styles.button.hover.text.font.size_unit }};
    {% endif %}
    {% if module.styles.button.hover.text.font.style %}
      {{ module.styles.button.hover.text.font.style }};
    {% endif %}
  }

  {% if module.add_icon && module.icon.icon_field && module.styles.button.hover.font.color %}
    .button svg {
      fill: {{ module.styles.button.hover.font.color }};
    }
  {% endif %}

{% end_scope_css %}
</style>

{####################################################}
{################# Header layout ####################}
{####################################################}

{# Logo left layout #}
{% if module.layout == 'left' %}

  <div class="header__container header__container--left">

    {% if content.translated_content.values()|selectattr('published')|length && module.language_switcher.add_language_switcher || is_listing_view && group.translations && module.language_switcher.add_language_switcher %}
      <div class="header__top">
        <div class="header__wrapper header__wrapper--top">
          <div class="header__language-switcher-col">
            {{ language_switcher() }}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="header__bottom">
      <div class="header__wrapper header__wrapper--bottom">
        <div class="header__logo-col">
          {{ logo() }}
        </div>
        <div class="header__menu-col">
          {{ desktop_navigation() }}
          {{ mobile_navigation() }}
        </div>
        {% if module.button.add_button %}
          <div class="header__button-col hidden-phone">
            {{ button() }}
          </div>
        {% endif %}
      </div>
    </div>

  </div>

{# Logo centered layout #}

{% elif module.layout == 'centered' %}

  <div class="header__container header__container--centered">

    <div class="header__top">
      <div class="header__wrapper header__wrapper--top hidden-phone">
        {% if content.translated_content.values()|selectattr('published')|length && module.language_switcher.add_language_switcher || is_listing_view && group.translations && module.language_switcher.add_language_switcher %}
          <div class="header__language-switcher-col">
            {{ language_switcher() }}
          </div>
        {% endif %}
        {% if module.button.add_button %}
          <div class="header__button-col">
            {{ button() }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__wrapper header__wrapper--bottom">
        <div class="header__logo-col">
          {{ logo() }}
        </div>
        <div class="header__menu-col">
          {{ desktop_navigation() }}
          {{ mobile_navigation() }}
        </div>
      </div>
    </div>

  </div>

{% endif %}