.featured-roles {
  margin-bottom: 16px;
}

.featured-roles__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured-roles__card {
  background-color: #FFF;
  border: 2px solid #000;
  cursor: pointer;
  margin-bottom: 1.4rem;
  padding: 16px;
  width: calc(33.3% - 32px);
}

.featured-roles > h2 {
  text-align: center;
}