{# Module data #}

{% set dataQueryData = module.data_query.data.CRM %}
{% set roleCollection = dataQueryData.company_collection.items[0].associations.p_role_collection__role_to_company %}
{% set roles = roleCollection.items %}

{# Featured roles #}

{% if roles|length > 0 %}
  <section class="featured-roles">
    <h2>{{ module.title }}</h2>
    <div class="featured-roles__wrapper">
      {% for role in roles %}

        {% set company = dataQueryData.company_collection.items[0] %}
        {% set roleDetailLink = "{{role.role_identifier}}?role_identifier={{ role.role_identifier }}&title={{ role.title }}&job_title={{ role.title }}" %}

        <div class="featured-roles__card">
          <h3>{{ role.title }}</h3>
          <h4>{{ company.name }}</h4>
          <p>{{ truncate(role.description, 128, false, '...') }}</p>
          <a class="button" href="{{ roleDetailLink }}">Apply</a>
        </div>

      {% endfor %}
    </div>
  </section>
{% endif %}