{% set dataQueryData = module.data_query.data.CRM %}
{% set roleCollection = dataQueryData.company_collection.items[0].associations.p_role_collection__role_to_company %}
{% set roles = roleCollection.items %}

{% if roles|length > 0 %}
  <div class="featured-roles-wrapper">
    <h2>{{ module.title }}</h2>
    <div class="featured-roles">
      {% for role in roles %}

        {% set company = dataQueryData.company_collection.items[0] %}
        {% set roleDetailLink = "{{ request.path }}?role_identifier={{ role.role_identifier }}&title={{ role.title }}&job_title={{ role.title }}" %}

        <div class="role-card" onclick="window.location='{{ roleDetailLink }}'">
          <div class="role-card-body">
              <h1>{{ role.title }}</h1>
              <h2>{{ company.name }}</h2>
              <p>{{ truncate(role.description, 128, false, '...') }}</p>
          </div>
          <div class="role-card-actions">
              <a class="button" href="{{ roleDetailLink }}">View Role</a>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
{% endif %}