/* Featured roles */

.featured-roles {
  margin-bottom: 16px;
}

.featured-roles__heading {
  text-align: center;
}

.featured-roles__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}