{# Module styles #}

<style>
  {% scope_css %}

    {# Role filter #}

    .role-filter-wrapper {
      {% if module.styles.filter.background.color.color %}
        background-color: rgba({{ module.styles.filter.background.color.color|convert_rgb }}, {{ module.styles.filter.background.color.opacity / 100 }});
      {% endif %}
    }

    .role-filter__label {
      {{ module.styles.filter.labels.font.css }}
    }

    {# Card #}

    .card {
      {% if module.styles.cards.background.color.color %}
        background-color: rgba({{ module.styles.cards.background.color.color|convert_rgb }}, {{ module.styles.cards.background.color.opacity / 100 }});
      {% endif %}
      {{ module.styles.cards.border.border.css }}
      {% if module.styles.cards.corner.radius %}
        border-radius: {{ module.styles.cards.corner.radius ~ 'px' }};
      {% endif %}
      {{ module.styles.cards.spacing.spacing.css }}
      {{ module.styles.cards.spacing.card_content.css }}
    }

    {# Card content #}

    .card__heading {
      {{ module.styles.cards.heading.font.css }}
    }

    .card__subheading {
    {{ module.styles.cards.subheading.font.css }}
    }

    .card__description {
      {{ module.styles.cards.description.font.css }}
    }

    {# Button wrapper #}

    {% if module.styles.cards.button.alignment.alignment %}
      .button-wrapper {
        text-align: {{ module.styles.cards.button.alignment.alignment.horizontal_align }};
      }
    {% endif %}

    {# Button #}

    .button {
      {% if module.styles.cards.button.background.color.color %}
        background-color: rgba({{ module.styles.cards.button.background.color.color|convert_rgb }}, {{ module.styles.cards.button.background.color.opacity / 100 }});
      {% endif %}
      {{ module.styles.cards.button.border.border.css }}
      {% if module.styles.cards.button.corner.radius %}
        border-radius: {{ module.styles.cards.button.corner.radius ~ 'px' }};
      {% endif %}
      {{ module.styles.cards.button.text.font.css }}
      {{ module.styles.cards.button.spacing.spacing.css }}
    }

    .button:hover,
    .button:focus {
      {% if module.styles.cards.button.background.color.color %}
        background-color: rgba({{ color_variant(module.styles.cards.button.background.color.color, -80)|convert_rgb }}, {{ module.styles.cards.button.background.color.opacity / 100 }});
      {% endif %}
    }

    .button:active {
      {% if module.styles.cards.button.background.color.color %}
        background-color: rgba({{ color_variant(module.styles.cards.button.background.color.color, 80)|convert_rgb }}, {{ module.styles.cards.button.background.color.opacity / 100 }});
      {% endif %}
    }

    {# Pagination #}

    .pagination {
      {{ module.styles.pagination.spacing.spacing.css }}
    }

    {# Pagination links #}

    .pagination__link--number {
      {% if module.styles.pagination.text.font.color %}
        color: {{ module.styles.pagination.text.font.color }};
      {% endif %}
      {% if module.styles.pagination.text.font.size %}
        font-size: {{ module.styles.pagination.text.font.size ~ module.styles.pagination.text.font.size_unit }};
      {% endif %}
      {% if module.styles.pagination.text.font.style %}
        {{ module.styles.pagination.text.font.style }};
      {% endif %}
      {% if module.styles.pagination.spacing.space_between_links %}
        margin-right: {{ module.styles.pagination.spacing.space_between_links ~ 'px' }};
      {% endif %}
    }

    {% if module.styles.pagination.text.font.color %}
      .pagination__link--number:hover,
      .pagination__link--number:focus {
        color: {{ color_variant(module.styles.pagination.text.font.color, -80) }};
      }

      .pagination__link--number:active {
        color: {{ color_variant(module.styles.pagination.text.font.color, 80) }};
      }
    {% endif %}

    {# Active pagination link #}

    .pagination__link--active {
      {{ module.styles.pagination.active.border.border.css }}
      {% if module.styles.pagination.active.corner.radius %}
        border-radius: {{ module.styles.pagination.active.corner.radius ~ 'px' }};
      {% endif %}
    }

  {% end_scope_css %}
</style>

{# Module data #}

{% set departments = [] %}
{% set locations = [] %}
{% set companies = [] %}

{# Pulls data from CRM #}

{% set dataQueryData = module.data_query.data.CRM %}

{# Goes through each value for department and location and appends them to a department or locations array #}

{% for filterOption in dataQueryData.department_and_location_filter_options.items %}
  {% do departments.append(filterOption.department) %}
  {% do locations.append(filterOption.location) %}
{% endfor %}

{# Goes through each value for company and appends them to a companies array #}

{% for filterOption in dataQueryData.company_filter_options.items %}
  {% do companies.append(filterOption.name) %}
{% endfor %}

{# Filters values in arrays to make sure they are unique #}

{% set uniqueDepartments = departments|unique %}
{% set uniqueLocations = locations|unique %}
{% set uniqueCompanies = companies|unique %}

{# Pulls applicable roles by location and department if company isn't being filtered for #}

{% set roleCollection = dataQueryData.roles_by_location_department %}
{% set searchingByCompany = false %}

{# Pulls applicable roles if company is being filtered for #}

{% if request.query_dict.searchByCompany %}
  {% set searchingByCompany = true %}
  {% set roleCollection = dataQueryData.roles_by_associated_company.items[0].associations.p_role_collection__role_to_company %}
{% endif %}

{# Roles that match final filter criteria #}

{% set roles = roleCollection.items %}

{# Offset, limit, current page, and total pages for pagination #}

{% set offset = roleCollection.offset %}
{% set limit = module.cards_per_row * module.rows_per_page %}
{% set currentPage = (offset / limit)|round(0, 'ceil') %}
{% set totalPages = (roleCollection.total / limit)|round(0, 'ceil')  %}

{# Role filter bar #}

<div class="role-filter-wrapper">
  <div class="role-filter-inner-wrapper content-wrapper">
    <div class="role-filter">
      <label class="role-filter__label" for="location">Filter by location:</label>
      <select id="location">
        <option value="">Choose location</option>
        {% for location in uniqueLocations %}
          <option value="{{ location }}">{{ location }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="role-filter">
      <label class="role-filter__label" for="department">Filter by department:</label>
      <select id="department">
        <option value="">Choose department</option>
        {% for department in uniqueDepartments %}
          <option value="{{ department }}">{{ department }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="role-filter">
      <label class="role-filter__label" for="company">Filter by company:</label>
      <select id="company">
        <option value="">Choose company</option>
        {% for company in uniqueCompanies %}
          <option value="{{ company }}">{{ company }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{# Role listing #}

<div class="card-listing content-wrapper card-listing--{{ module.cards_per_row }}-cols">

  {% if roles|length == 0 %}
    <h2>No results found</h2>
  {% endif %}

  {# Role cards #}

  {% for role in roles %}
    {% if request.query_dict.searchByCompany %}
      {% set company = dataQueryData.roles_by_associated_company.items[0] %}
    {% else %}
      {% set company = role.associations.company_collection__role_to_company.items|first %}
    {% endif %}

    {% set roleDetailLink = "{{ request.path }}/{{ role.role_identifier }}?role_identifier={{ role.role_identifier }}&title={{ role.title }}&job_title={{ role.title }}" %}

    <section class="card">
      <h2 class="card__heading">{{ role.title }}</h2>
      <h3 class="card__subheading">{{ company.name }}</h3>
      <p class="card__description">{{ truncate(role.description|striptags, module.card.length_of_description, false, '...') }}</p>
      <div class="card__button-wrapper button-wrapper">
        <a class="card__button button" href="{{ roleDetailLink }}">Apply</a>
      </div>
    </section>
  {% endfor %}

</div>

{# Pagination #}

<nav class="pagination" aria-label="Pagination navigation" role="navigation">
{% for i in range(0, totalPages) %}
    {% set queryParams = 'offset={{ i * limit }}&limit={{ limit }}' %}

    {% if request.query_dict.location %}
      {% set queryParams = queryParams ~ '&location={{ request.query_dict.location }}' %}
    {% endif %}

    {% if request.query_dict.department %}
      {% set queryParams = queryParams ~ '&location={{ request.query_dict.department }}' %}
    {% endif %}

    {% if request.query_dict.company %}
      {% set queryParams = queryParams ~ '&company={{ request.query_dict.company }}' %}
    {% endif %}

    {% if request.query_dict.searchByCompany %}
      {% set queryParams = queryParams ~ '&searchByCompany={{ request.query_dict.searchByCompany }}' %}
    {% endif %}

    <a class="pagination__link pagination__link--number {{ 'pagination__link--active' if loop.index == currentPage }}" aria-label="Go to Page {{ loop.index }}" {{ 'aria-current="true"' if loop.index == currentPage }} href="{{ request.path }}?{{ queryParams }}">{{ loop.index }}</a>
  {% endfor %}
</nav>

{# Module JavaScript #}

{% require_js %}
  <script>
    window.onload = function() {

      // Construct URL object using current browser URL

      var url = new URL(document.location);

      // Get query parameters object

      var params = url.searchParams;

      // Set it as the dropdown value

      if (params.get('location')) {
        document.querySelector('#location').value = params.get('location');
      }

      if (params.get('department')) {
        document.querySelector('#department').value = params.get('department');
      }

      if (params.get('company')) {
        document.querySelector('#company').value = params.get('company');
      }

      // Triggers changeFilter function on change of one of the filter select fields

      document.querySelector('#location').addEventListener('change', function() {
        changeFilter('location', '#location', {{ searchingByCompany }});
      });

      document.querySelector('#department').addEventListener('change', function() {
        changeFilter('department', '#department', {{ searchingByCompany }});
      });

      document.querySelector('#company').addEventListener('change', function() {
        changeFilter('company', '#company', document.querySelector('#company').selectedIndex !== 0);
      });

      // Filters posts

      function changeFilter(filterName, divName, searchByCompany) {
        let urlParams = new URLSearchParams(document.location.search.substr(1));
        setQueryParam(filterName, document.querySelector(divName).value, urlParams);
        setQueryParam('offset', 0, urlParams);
        setQueryParam('searchByCompany', searchByCompany, urlParams)
        window.location.search = urlParams.toString();
      }

      function setQueryParam(paramName, paramValue, urlParams) {
        if (paramValue == null || paramValue === '') {
          urlParams.delete(paramName);
        } else {
          urlParams.set(paramName, paramValue);
        }
      }
    }
  </script>
{% end_require_js %}