<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Growth - email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
<section class="content-wrapper">
  <div class="systems-page">

    {# Backup unsubscribe form #}

    {% module 'backup_unsubscribe'
      path='@hubspot/email_simple_subscription',
      extra_classes='backup-unsubscribe'
    %}

  </div>
</section>
{% endblock body %}